@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#navbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  justify-content: flex-end;
  background: white;
}

#navbar .timenow{
  font-weight: bold;
  margin-right: 15px;
  margin-top: 10px;
}

.battery {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 10px;
}

.socialLink{
  margin-right: 15px;
  margin-top: 10px;
}

.socialLink > a:last-child {
  margin-left: 15px;
}

.aboutMe {
  margin-top: 8px;
  margin-right: 12px;
  cursor: pointer;
}

.notificationPopup{
  position: absolute;
  border-radius: 25px;
  width: 35%;
  height: 350px;
  top: 50px;
  right: 25px;
}

.aboutMeHeader{
  color: white;
  text-shadow: 2px 2px 3px black;
}

.closeBtn{
  border-radius: 24px;
  width: 28px;
  height: 28px;
  margin: auto 0;
  background-color: #6eaae0;
  border-color: hidden;
  cursor: pointer;
  border: 0;
  font-size: 20px;
  margin-bottom: 15px;
}

.popupComponent{
  position: relative;
  background-color: #77afdf;
  width: 100%;
  border-radius: 25px;
  height: 25%; 
}

.popupComponent:last-child {
  margin-top: 25px;
}

.NotificationTitle{
  font-size: 18px;
  color: #476f8d;
  font-weight: 800;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
